<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <script src='https://cdn.jsdelivr.net/npm/luxon@3.0.1/build/global/luxon.min.js'></script>
    <script src='/js/script.js'></script>
    <title>Simple Comment System</title>
  </head>
  <body class='h-screen w-screen mx-auto bg-gray-200'>
    {{{body}}}
  </body>
</html>