<div class='flex flex-col w-full md:w-[80rem] mx-auto p-5 space-y-8 divide-y divide-solid'>
  <h3 class='text-3xl font-bold'>Discussion</h3>
  {{! comment section }}
  <div class='flex flex-col'>
    <form
      onsubmit='handleSubmit(event)'
      id='comment-form'
      class='flex flex-row space-x-4'
      method='POST'
      enctype='multipart/form-data'
    >
      <div class='p-1'>
        <img
          class='w-10 h-10 rounded-full'
          src='https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50'
          alt='avatar'
        />
      </div>
      <div class='flex-1'>
        <input
          placeholder='What are your thoughts?'
          name='comment'
          required
          class='w-full block border border-gray-400 font-semibold rounded-md p-2'
        />
      </div>
      <div>
        <button type='submit' class='px-6 py-2 rounded-md shadow-xl bg-purple-700 text-white block'>Comment</button>
      </div>
    </form>
  </div>
  {{! comments list }}
  <div class='flex flex-col w-full border-top border-gray-400'> </div>

  <div id='comments' class='flex flex-col w-full space-y-8'>
    {{! comments will be added here }}
  </div>

</div>